.bottomPanel {
    width: 100%;
    height: 100vh;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-001);
    gap: 2rem;
}

.cake-offering {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center  ;
}

.container {
    width: 70%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.cake-container {
    width: 300px;
    padding: 12px 12px 2rem 12px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    gap: 1rem ;
}
.cake-container:hover {
    background-color: transparent;
}
.cake-container img {
    width: 100%;
    height: 160px;
    border-radius: 4px;
}