main {
  width: 100%;
  height: auto;
  font-family: "Harper", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topPanel {
  width: 100%;
  padding: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.main-img {
  width: 550px;
  height: 550px;
  background: url(img/cake.jpg);
  background-size: cover;
  background-position: center;
}

.description-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.description-container a {
  width: 100%;
}

.btn {
  width: 100%;
  text-align: center;
  padding: 8px 0;
  background-color: var(--header-back);
  color: var(--font-color);
  border-radius: 6px;
  cursor: pointer;
}

@media all and ( max-width: 1024px) {
  .main-img {
    width: 400px;
    height: 400px;
  }
}

@media all and ( max-width: 768px) {
  .topPanel {
    flex-direction: column;
  }

  .main-img {
    width: 400px;
    height: 400px;
  }

  .description-container {
    width: 80%;
  }
}

@media all and ( max-width: 425px) {
  .main-img {
    width: 300px;
    height: 300px;
  }
}